@font-face {
    font-family: gy;
    src: url('fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 500;
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: gy;

  }
.parent{
  display: block;
  overflow: hidden;
}

.child{
  display: block;
  background-color: red;
  transform: translate(0, 100%);
}
